 .signin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .zestlogo{
    height: 7rem;
    background-color: #141920;
  }
.formdiv{
    background: #F25151;
    width: 25%;
    padding: 2rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 3%;
}
.formindiv{
    text-align: left;
}

.inputfield {
    margin: 10px;
    padding: 5px;
    height: 2rem;
    border-radius: 3px;
    border: 0;
    width: 70%;
    font-size: 1rem;
}
.formheading{
    padding-left: 0.5rem;
}
  .submitbutton {
    margin: 10px;
    padding: 5px;
    height: 2rem;
    width: 30%;
    border: 0;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 600;
    background: black;
    cursor: pointer;
  }
  
  .submitbutton:hover {
    background-color: white;
    color: black;
  }

  .createacc{
    margin-left: 1rem;
  }
  .createacc a{
    color:"#F25151";
    font-weight:"500";
  }